.BlogOverviewBlock_row {
    padding-top: 1.5rem;
}

.LatestBlogItems_grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.LatestBlogItems_item {
    min-width: 100%;
}

.BlogOverviewBlock_item-info b,
.BlogOverviewBlock_item-info span:nth-child(2) {
    display: none;
}

.BlogOverviewBlock_title a,
.LatestBlogItems_info a {
    color: #005598 !important;
}

.page-BlogItemPage .LatestBlogItems_image {
    display: none;
}

#AuthorFacet,
[aria-controls="AuthorFacet"] {
    display: none;
}

.BlogFacets_mobile-toggler {
    width: 100%;
}