.hover-card {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 1rem 0;
}

.hover-card-content {
    position: relative;
}

.hover-card-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 30px;
    background-color: var(--fm-blue);
    border-left: 5px solid var(--fm-lightblue);
    box-sizing: border-box;
    z-index: 2;
    transform: translateX(61px);
}

.hover-card-arrow span {
    color: #fff;
    font-size: 36px;
    padding: 0 0 3px 0;
    opacity: 0;
    transform: translateX(-50px);
}

.hover-card-border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: var(--fm-lightblue);
    transform: translateX(-105%);
}

.hover-card,
.hover-card-arrow,
.hover-card-border,
.hover-card-content,
.hover-card-arrow span {
    transition: transform 0.25s;
}

.hover-card:hover .hover-card-content {
    transform: translateY(-4px);
}

.hover-card:hover .hover-card-arrow,
.hover-card:hover .hover-card-border,
.hover-card:hover .hover-card-arrow span {
    transform: translateX(0);
}

.hover-card:hover .hover-card-arrow span {
    opacity: 1;
}

.row-curved::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    aspect-ratio: 8/1;
    background-image: url('/src/assets/row-curve.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.row-curved {
    padding: 40px 0 120px;
}

@media (min-width: 575px) {
    .row-curved {
        padding: 50px 0 140px;
    }
}

@media (min-width: 768px) {
    .row-curved {
        padding: 60px 0 160px;
    }
}

@media (min-width: 1400px) {
    .row-curved {
        padding: 60px 0 200px;
    }
}

@media (min-width: 1920px) {
    .row-curved {
        padding: 60px 0 260px;
    }
}

@media (min-width: 2500px) {
    .row-curved {
        padding: 60px 0 300px;
    }
}

.circle-hover-icon {
    width: 175px;
    height: 175px;
    padding: 35px;
    background-color: var(--ls-blue);
    border: 15px solid #a6e2f5;
    border-radius: 50%;
    transition: all .3s;
}

a:hover .circle-hover-icon,
.circle-hover-icon:hover {
    background-color: var(--fm-blue);
    border-color: #eee;
}

.circle-hover-icon img {
    transition: transform .3s;
}

a:hover .circle-hover-icon img,
.circle-hover-icon:hover img {
    transform: scale(1.05);
}

.map-embed {
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    border: 5px solid #aadaff;
    border-left: 5px solid #6fb9e1;
}

@media screen and (min-width: 768px) {
    .map-embed {
        height: 600px
    }
}

@media screen and (min-width: 992px) {
    .map-embed {
        height: 800px
    }
}