html {
    scroll-behavior: smooth;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.overflow-hidden {
    overflow: hidden;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.bbox {
    box-sizing: border-box;
}

p {
    line-height: var(--theme-text_LineHeight);
}

.row-padding {
    padding: 20px 0 25px;
}

.no-decoration {
    text-decoration: none !important;
}

@media (max-width: 575px) {
    .hide-xs {
        display: none !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hide-sm {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }

    .row-padding {
        padding: 40px 0 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hide-md {
        display: none !important;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .hide-lg {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hide-xl {
        display: none !important;
    }
}

@media (min-width: 1280px) {
    .Grid_container {
        max-width: 1400px;
    }

    .row-padding {
        padding: 60px 0 40px;
    }
}